services:
  - type: web
    name: water-supply-backend
    runtime: node
    env: node
    buildCommand: npm install
    startCommand: npm run server:prod
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: STACK_SECRET_SERVER_KEY
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
